export(As2Vs)
export(bootPCA)
export(bootSVD)
export(bootSVD_LD)
export(fastSVD)
export(genBootIndeces)
export(genQ)
export(getMomentsAndMomentCI)
export(os)
export(qrSVD)
export(reindexDsByK)
export(reindexPCsByK)
export(simEEG)
